@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Hubballi&display=swap');

:root{
  --color-bg-primary: #A4C2A5;
  --color-bg-secondary: #EDF2F4;
}

body {
  margin: 0;
  font-family: Fredoka;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}